html {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

.contact {
  background-color: #f2f2f2;
}

h1 {
  border-bottom: 1px solid #000
}

label {
  display: block
}

form {
  background-color: #fff;
}
